<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>
  
<mat-toolbar color="primary">
   <span>App Users</span>
   
    <span class="example-spacer"></span>
    <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect">{{ item.nombre }}</button>
    <span class="example-spacer"></span>

  <!-- icono logout -->
  <button mat-icon-button routerLink="/logout">
  <mat-icon>logout</mat-icon>


</button>

      
</mat-toolbar>
  
  