<div class="container">
   <mat-toolbar>
    <span>Usuarios</span>

    <div class="example-spacer"></div>

    <button mat-raised-button color="primary" routerLink="/dashboard/crear-usuario/nuevo">Agregar</button>
   </mat-toolbar>

   <div *ngIf="listUsuarios.length > 0">

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    
  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
  <!--- Note that these columns can be defined in any order.
       The actual rendered columns are set as a property on the row definition" -->
   
    <!-- usuario Column -->
    <ng-container matColumnDef="usuario">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
     <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
    </ng-container>
   
    <!-- nombre Column -->
    <ng-container matColumnDef="nombre">
     <th mat-header-cell *matHeaderCellDef> Nombre </th>
     <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
   
    <!-- apellido Column -->
    <ng-container matColumnDef="apellido">
     <th mat-header-cell *matHeaderCellDef> Apellido </th>
     <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
    </ng-container>
  <!-- Sexo Column -->
    <ng-container matColumnDef="sexo">
       <th mat-header-cell *matHeaderCellDef> Sexo </th>
       <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element; let i = index" class="alineacion">
        <!-- let element; let i = index" for integrado -->
        <a class="icono-1 pointer" matTooltip="Ver Usuario" (click)="verUsuario(element.usuario)">
          <mat-icon>search</mat-icon>
        </a>
        <a class="icono-2 pointer" matTooltip="Editar Usuario" (click)="modificarUsuario(element.usuario)">
          <mat-icon>edit</mat-icon>
        </a>
        <a class="icono-3 pointer" matTooltip="Eliminar Usuario" (click)="eliminarUsuario(element.usuario)">
          <mat-icon>delete</mat-icon>
        </a>
      </td>
     </ng-container>
     
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons>
      </mat-paginator>


    </div> 

  </div> 
  
  <h2 *ngIf="listUsuarios.length === 0">No hay usuarios para mostrar</h2>


</div>
    

<!-- let element llama todos los json de la tabla -->



<!-- CRUD -->
<!-- create
read
update 
delete -->